<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        商业积分
    </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="bookmark" href="/favicon.ico"/>

    <!-- Favicons
        ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
        ================================================== -->
    <link href="/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="/css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
        ================================================== -->
    <link rel="stylesheet" type="text/css"  href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/prettyPhoto.css">
    <link href='http://fonts.useso.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="index.html" ><strong style="color: #55271a">商业积分<span class="color"></span></strong></a> </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home" class="page-scroll hearder-color"><b>主页</b></a></li>
                <li><a href="#works-section" class="page-scroll hearder-color"><b>应用</b></a></li>
                <li><a href="#about-section" class="page-scroll hearder-color"><b>发展历程</b></a></li>
                <li><a href="#contact-section" class="page-scroll hearder-color"><b>联系</b></a></li>
                <li><a href="http://pan.baidu.com/s/1sliUITn" target="_blank" class="page-scroll hearder-color" title="下载钱包地址"><b>下载</b></a></li>
                <!--<li><a href="http://pan.baidu.com/s/1dEfirGd" class="page-scroll" title="钱包+源码紧急备用地址"><b>下载</b></a></li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header class="text-center" name="home">
    <div class="intro-text">
        <!--<h1>Shop & Store Points</h1>-->
        <!--<p> <b>第一个结合商业地产线上信息平台和线下商铺实体投资产生增值效益的新型数字资产</b></p>-->
        <a href="#works-section" class="fa fa-angle-down page-scroll"> </a>
    </div>
</header>
<!-- Portfolio Section -->
<div id="works-section" style="text-align: center">
    <img src="/img/header-bg03.jpg" style="width: 100%"/>
</div>
<!-- About Section -->
<div id="about-section" style="text-align: center">
    <img src="/img/header-bg04.jpg" style="width: 100%"/>
    <img src="/img/header-bg05.jpg" style="width: 100%"/>
    <img src="/img/header-bg06.jpg" style="width: 100%"/>
    <img src="/img/header-bg07.jpg" style="width: 100%"/>
    <img src="/img/header-bg08.jpg" style="width: 100%"/>
    <img src="/img/header-bg09.jpg" style="width: 100%"/>
    <img src="/img/header-bg10.jpg" style="width: 100%"/>
</div>



<!--&lt;!&ndash; Contact Section &ndash;&gt;-->
<div id="contact-section" class="text-center" style="text-align: center">
    <img src="/img/header-bg11.jpg" style="width: 100%;vertical-align:bottom;vertical-align:middle;vertical-align:top"/>
</div>
<div style="border:0px solid #000000;font-size:0;float: left;width: 100%;text-align: center">
    <a href="http://pan.baidu.com/s/1sliUITn" target="_blank">
    <img src="/img/button-bg.jpg" style="vertical-align:bottom;vertical-align:middle;vertical-align:top;
    position: relative;top:-105px;margin: 0px 30px 0 0">
    </a>
    <a href="http://block.dacrs.com" target="_blank">
        <img src="/img/button-bg01.jpg" style="vertical-align:bottom;vertical-align:middle;vertical-align:top;
    position: relative;top:-105px;margin: 0px auto">
    </a>
</div>

<nav id="footer">
    <div class="container">
        <div class="pull-left fnav">
            <p>Copyright &copy; 2016 Business & Store Points <a href="#" target="_blank" title="商业积分"></a> - Powered By <a href="#" title="商业积分团队" target="_blank">Business & Store Points Development Team</a></p>
        </div>
        <div class="pull-right fnav">
            <ul class="footer-social">

            </ul>
        </div>
    </div>
</nav>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://ajax.useso.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.1.11.1.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/SmoothScroll.js"></script>
<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/js/jquery.isotope.js"></script>
<script src="/js/owl.carousel.js"></script>

<!-- Javascripts
    ================================================== -->
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>